twilio==7.17.0
Flask==2.0.3
Werkzeug==2.2.2
gevent==23.9.1
simple-websocket==0.10.0
python-dotenv
google-cloud-speech
google-cloud-texttospeech
langchain
langchain-google-genai
faiss-cpu
tiktoken
google-auth
google-api-python-client
google-cloud-storage
langchain-community
unstructured