twilio==7.17.0
Flask==2.0.3
Flask-Sockets==0.2.1
gevent==21.12.0
gevent-websocket==0.10.1
python-dotenv
google-cloud-speech
google-cloud-texttospeech
langchain
langchain-google-genai
faiss-cpu
tiktoken
google-auth
google-api-python-client
google-cloud-storage
langchain-community
unstructured